* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  background-color: #F2F2F2;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
