.app {
  padding: 4% 8.27% 0 8.27%;
  height: 100%;
  background-color: transparent;

  &-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-sorting {
    margin-right: 8px;
    font-weight: 600;
    color: $font-light;
  }
}