.app {
  padding: 4% 8.27% 0 8.27%;
  height: 100%;
  background-color: transparent;
  width: 90vw;

  &-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &-sorting {
    margin-right: 8px;
    font-weight: 600;
    color: $font-light;
  }

  & .fill {
    flex: 1;
  }
}